.add-todo {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    width: 100%;
    margin: auto
}

.form-group {
    display: flex;
    flex-direction: row;

    .form-control {
        border-radius: 5px 0 0 5px;
        border-left: 1px solid var(--black);
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
        border-right: none;
        flex-grow: 1;
        line-height: 50px;
        height: 50px;
        padding: 0 10px;
    }

    .submit {
        background-color: var(--black);
        border: none;
        color: var(--white);
        padding: 0 30px;
        line-height: 50px;
        height:50px;
        ;
        text-align: center;
        border-radius: 0 5px 5px 0;
        font-size: 20px;
        margin: auto 0 auto;

        &:not([disabled]) {
            cursor: pointer;
        }

        &:hover:not([disabled]) {
            background-color: var(--red);
        }

        &[disabled] {
            opacity: .5;
        }
    }
}

.add {
    background-color: var(--black);
    border          : none;
    color           : var(--white);
    padding         : 10px 40px;
    text-align      : center;
    border-radius   : 3px;
    font-size       : 20px;
    margin          : 20px auto 0 auto;
    cursor          : pointer;
    display: flex;

    &:hover {
        background-color: var(--red);
    }
}