<ul class="todo-list" *ngIf="todoList | async as todoList">
    <li class="todo-item" *ngFor="let item of todoList">
        <div class="status" [ngClass]="{'done':item.status}">
            <i class="material-icons">
                {{item.status ? 'radio_button_checked' : 'radio_button_unchecked'}}
            </i>
        </div>
        <div class="content">
            <div class="title">{{item.title}}</div>
            <div class="date">{{item.date | date}}</div>
        </div>
        <div class="evens">
            <button class="delete">Delete</button>
            <button class="edit" routerLink="/edit">Edit</button>
        </div>
    </li>

</ul>

<button class="add" routerLink="/edit">Add todo</button>